src/main/mule/indigoImplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2da2ba74-1738-48bd-bfde-ca97e0210850" >
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="indigoImplementationFlow" doc:id="5d04f438-f33a-4a2d-b568-e035a7768e0d" >
		<logger level="INFO" doc:name="Logger" doc:id="241f4c32-4d6e-4720-bfe2-e26e8c2ffeff" message="Request Sent to Indigo Airlines...."/>
		<http:request method="GET" doc:name="Request" doc:id="936c3fb1-f655-428c-9a6b-f96b987934ad" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9ff70950-c5f0-48f2-b5c2-0965e8c1df9a" message="Response From Indigo Airlines....#[payload]"/>
	</flow>
</mule>
